/* ==========================================================================
   Needy AniList User's Windose - V0.1.3 - by @anzuftnw
   - a WIN95-esque NGO/NSO inspired custom CSS-theme for AniList.co
   ========================================================================== */

/*
 * TODO:
 * - Finish Windose Menu
 *   - Sidebar Text
 *   ✓ "More" Menu Tab and sub tabs
 * - Theme Switcher (Daytime Display)
 *   - Ame to KAngel transformation display on theme switch??
 * - Loading Screen (Booting Up Windose)
 * - Notifications Icon similar to WIN11
 * - Searchbar similar to WIN11
 * - Create Streaming Window to display Ame/KAngel animations (make them with photoshop ig, gifs)
 *   - Randomize Which one to display?
 *   - Cakes helps me achieve this
 *   - Display on profile maybe if not using css
 * ✓ Fix up code
 *   ✓ Order all attributes
 *   ✓ Use Variables for reoccuring things and for dynamic changing
 *   ✓ Use multiple selectors for reoccuring things
 * - Fixed Height / Test diff resolutions like ultra wide and rotated monitors
 */

/* ==========================================================================
   Global Declerations
   ========================================================================== */

:root {
  --color-background-base: #222;
  --color-background-primary: #fae3ff;
  --color-background-secondary: #4d23cf;
  --color-border-upper: white;
  --color-border-lower: #815cda;
  --color-border-lower-button: #160a3c;
  --color-text-primary: black;
  --color-text-secondary: #4d23cf;
  --color-text-hover: white;
}

/* Buttons
   ========================================================================== */

#nav > .wrap,
#nav > .wrap > .links > .link,
#nav > .wrap > .links > .browse-wrap > .link,
#nav > .wrap > .links > .browse-wrap > .dropdown > .primary-links > .primary-link > section > .primary-link-text,
#nav > .wrap > .links > .browse-wrap > .dropdown > .primary-links > .primary-link > section > .secondary-links > a,
#nav > .wrap > .links > .browse-wrap > .dropdown > .footer > a,
#nav > .wrap > .links > .browse-wrap > .dropdown > .footer::before {
  width: calc(196px + 2 * 2px);
  height: calc(36px + 2 * 2px);
  border-width: 2px;
  border-color: var(--color-border-upper) var(--color-border-lower) var(--color-border-lower) var(--color-border-upper);
  border-style: solid;
  background-color: var(--color-background-primary);
  color: var(--color-text-secondary);
}

#nav > .wrap > .links > .link:hover,
#nav > .wrap > .links > .browse-wrap > .link:hover,
#nav > .wrap > .links > .browse-wrap > .dropdown > .primary-links > .primary-link > section > .primary-link-text:hover,
#nav > .wrap > .links > .browse-wrap > .dropdown > .primary-links > .primary-link > section > .secondary-links > a:hover,
#nav > .wrap > .links > .browse-wrap > .dropdown > .footer > a:hover,
#nav > .wrap > .links > .browse-wrap > .dropdown > .footer:hover::before {
  border-color: var(--color-border-upper) var(--color-border-lower-button) var(--color-border-lower-button) var(--color-border-upper);
  background-color: var(--color-background-secondary);
  color: var(--color-text-hover);
}

#nav > .wrap:hover {
  border-color: var(--color-border-lower) var(--color-border-upper) var(--color-border-upper) var(--color-border-lower);
}

/* Fonts
   ========================================================================== */

@font-face {
  font-family: "PixelMplus10";
  src:  url("https://cdn.leafscape.be/PixelMplus/PixelMplus10-Regular_web.woff2") format("woff2"),
        url("https://github.com/AnzuFTNW/windose-css/raw/refs/heads/main/assets/fonts/PixelMplus10-Regular.woff") format("woff"),
        url("https://github.com/AnzuFTNW/windose-css/raw/refs/heads/main/assets/fonts/PixelMplus10-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

#nav > .wrap::after,
#nav > .wrap > .links,
#nav > .wrap > .links > .browse-wrap > .link,
#nav > .wrap > .links > .browse-wrap > .dropdown,
#nav > .wrap > .links > .browse-wrap > .dropdown > .primary-links > .primary-link,
#nav > .wrap > .links > .browse-wrap > .dropdown > .primary-links > .primary-link > section > .secondary-links,
#nav > .wrap > .links > .browse-wrap > .dropdown > .footer {
  font-family: "PixelMplus10";
  font-size: 20px;
  font-weight: unset;
  line-height: 36px;
  letter-spacing: unset;
  text-align: center;
}

/* Transitions
   ========================================================================== */

#nav,
#nav * {
  transition: unset;
  animation: unset;
}

/* ==========================================================================
   Desktop
   ========================================================================== */

body {
  display: flex;
  justify-content: center;
  background-attachment: fixed;
  background-color: var(--color-background-base);
  background-image: url("https://safe.haiiro.moe/OlvNoBbUjyWx.jpg");
  background-position: center 0;
  background-repeat: no-repeat;
}

#app {
  width: 1440px;
}

/* ==========================================================================
   Taskbar
   ========================================================================== */

#nav {
  top: unset !important; /* "!important" to remove flicker from JS (.hide) */
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  /* display: flex; */
  justify-content: flex-start;
  width: 1440px;
  height: calc(45px + 2px);
  border-top-width: 2px;
  border-top-color: var(--color-border-upper);
  border-top-style: solid;
  background-color: var(--color-background-primary);
}

/* Start Button
   ========================================================================== */

#nav > .wrap,
#nav > .wrap::before {
  width: calc(134px + 2 * 2px);
  height: calc(28px + 2 * 2px);
}

#nav > .wrap {
  display: flex;
  margin: 7px 0 0 8px;
}

#nav > .wrap::before {
  position: absolute;
  bottom: 6px;
  left: 8px;
  content: "";
}

#nav > .wrap:hover::before {
  /* (start button) + start button top margin + task bar top border width + start menu bottom margin */
  height: calc((28px + 2 * 2px) + 7px + 2px + 1px);
}

#nav > .wrap::after {
  margin-left: 27px;
  color: var(--color-text-primary);
  content: "START";
}

#nav > .wrap > .logo {
  width: 32px;
  height: 24px;
  margin-left: 3px;
  background-image: url("https://safe.haiiro.moe/nlDMWbOyKlyp.png");
}

#nav > .wrap > .logo > img {
  display: none;
}

/* ==========================================================================
   Start Menu
   ========================================================================== */

#nav > .wrap > .links {
  position: absolute;
  left: 0px;
  /*
   * (taskbar height + top border width) + (taskbar height + top border width + bottom margin) -
   * ((start menu item height + 2 * start menu item border width) * number of start menu items) 
   */
  bottom: calc((45px + 2px) - (45px + 2px + 1px) - ((36px + 2 * 2px) * 6));
  /* bottom: 47px; */
  flex-direction: column;
  align-items: flex-end;
  width: calc(12px + (196px + 2* 2px));
  margin-bottom: 1px;
  background-image: url("https://safe.haiiro.moe/26VEfw7mnlRY.jpg");
}

#nav > .wrap:hover > .links {
  bottom: calc(45px + 2px);
}

#nav > .wrap:hover > .links::after {
  position: absolute;
  bottom: 2px;
  left: 0px;
  transform: rotate(-180deg);
  font-size: 12px;
  line-height: initial;
  writing-mode: vertical-rl;
  color: var(--color-text-hover);
  content: "Needy Anilist User";
}

#nav > .wrap > .links > .browse-wrap > .link {
  display: block;
}

#nav > .wrap > .links > .link,
#nav > .wrap > .links > .browse-wrap > .link {
  padding: unset;
}

/* Start Menu Dropdowns - Anime & Manga - Level 1
   ========================================================================== */

#nav > .wrap > .links > .browse-wrap:hover::after,
#nav > .wrap > .links > .browse-wrap > .dropdown::before,
#nav > .wrap > .links > .browse-wrap > .dropdown > .primary-links > .primary-link > a {
  display: none;
}

#nav > .wrap > .links > .browse-wrap > .dropdown {
  top: calc(0px - ((36px + 2 * 2px) * 2));
  left: calc((196px + 2 * 2px));
  width: unset;
  border-radius: unset;
  background-color: unset;
  box-shadow: unset;
}

#nav > .wrap > .links > .browse-wrap > .dropdown > .primary-links {
  padding: 0;
}

#nav > .wrap > .links > .browse-wrap > .dropdown > .primary-links > .primary-link {
  display: block;
  margin-bottom: unset;
}

#nav > .wrap > .links > .browse-wrap > .dropdown > .primary-links > .primary-link > section > .primary-link-text,
#nav > .wrap > .links > .browse-wrap > .dropdown > .primary-links > .primary-link > section:hover > .secondary-links {
  display: block;
}

/* Start Menu Dropdowns - Anime & Manga - Level 2
   ========================================================================== */

#nav > .wrap > .links > .browse-wrap > .dropdown > .primary-links > .primary-link > section > .secondary-links {
  position: absolute;
  top: 0px;
  left: calc(196px + 2 * 2px);
  display: none;
  margin-top: unset;
}

#nav > .wrap > .links > .browse-wrap > .dropdown > .primary-links > .primary-link:last-child > section > .secondary-links {
  top: 40px;
}

#nav > .wrap > .links > .browse-wrap > .dropdown > .primary-links > .primary-link > section > .secondary-links > a {
  margin: unset;
}

/* Start Menu Dropdowns - More
   ========================================================================== */

#nav > .wrap > .links > .browse-wrap > .dropdown > .footer {
  position: absolute;
  top: calc(0px - ((36px + 2 * 2px)));
  left: calc(196px + 2 * 2px);
  display: block;
  grid-gap: unset;
  padding: unset;
  border-radius: unset;
  background: unset;
}

#nav > .wrap > .links > .browse-wrap > .dropdown > .footer::before {
  position: absolute;
  top: calc((36px + 2 * 2px) * 3);
  left: calc(0px - (196px + 2 * 2px));
  display: block;
  content: "More";
}

#nav > .wrap > .links > .browse-wrap > .dropdown > .footer > a,
#nav > .wrap > .links > .browse-wrap > .dropdown > .footer > a > .icon {
  display: none;
}

#nav > .wrap > .links > .browse-wrap > .dropdown > .footer:hover > a {
  display: block;
}

/* ==========================================================================
   Temporary Changes
   ========================================================================== */

.page-content,
#app > .wrap {
  display: none;
}

#nav > .wrap > .search {
  position: absolute;
  right: 0;
}

#nav > .wrap > .user {
  display: none;
}

.quick-search {
  display: none;
}